:root {
	--font-main: 'Inter-Variable';
	--font-accent: 'PressStart2P';
	--clamp-width: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
	--clamp-margin-logo: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem);
	--clamp-logo: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
	--clamp-title: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
	--clamp-label-position: clamp(0.75rem, 1.221vw + 0.464rem, 1.563rem);
	--bg-color: #000;
	--accent-color: #00CC14;
	--stroke-color: #000;
	--svg-sparks-color: #FF0000;
	--bg-gradient: 
	repeating-linear-gradient(90deg, #000, #000 2px, transparent 2px, transparent 4px),
	repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px),
	linear-gradient(#007f0c, #004306);
}